<div class="flex items-center justify-center h-screen bg-gray-100">

    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="h-64 w-full" style="object-fit: cover;" src="../../../assets/img/10497504_705872796158542_1410796563678976940_o.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Sitio en construcción</div>
            <p class="text-gray-700 text-base">
                Me encuentro actualizando mi portafolio, muy pronto estará disponible de nuevo
            </p>
        </div>
        <div class="px-6 py-4 space-x-0">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"> <a href="mailto:dev@jdpadillac.com">dev@jdpadillac.com</a> </span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"> <a href="https://twitter.com/jdpadillac_"> @jdpadillac_ </a> </span>
        </div>
    </div>
</div>